<div class="container">
  <h1>Home page</h1>
  <br /><br />
  <p>
    My Poney Center est une application web développée par Romain Pestre.<br />
    <br />
    Le code source de l'application est consultable sur <a href="https://github.com/RomainPestre/MyPoneyCenter" target="_blank"><u>GitHub</u></a>.
  </p>

  <br /><br />
  <hr />
  <br /><br />

  <p>
    My Poney Center is a web application developed by Romain Pestre.<br />
    <br />
    The source code of the application is available on <a href="https://github.com/RomainPestre/MyPoneyCenter" target="_blank"><u>GitHub</u></a>.
  </p>
</div>
