<h1>Home page</h1>
<div>
  En cours :
  <ul>
    <li>Sauvegarde du token de session en BDD → attendre le traitement avant de routrner à "/home" (dans login.component.ts)</li>
    <li></li>
  </ul>

  <button type="button" class="btn btn-success" (click)="generateSessionToken()">Test token session</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="dateNow()">Test date</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="testNoPromise()">Test sans promise</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="testPromise()">Test promise</button>&nbsp;&nbsp;
</div>
