<div class="container">
  <h2>User list</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>License</th>
        <th>Privileges</th>
        <th>Password (sha-256)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of _userlist">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.license}}</td>
        <td>{{user.privileges}}</td>
        <td>{{user.password}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goToEditProduct(product.id)">Edit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="goToViewProduct(product.id)">View</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>&nbsp;&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="goToAddProduct()">Add new product</button>&nbsp;&nbsp;
</div>
