<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">My Poney Center</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Accueil</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="login">Connexion</a>
        </li>
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="adduser">Inscription</a>
        </li>
        <li *ngIf="isUserLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="login">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
