<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">My Poney Center</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goToHome()">Accueil</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goToConnect()">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToAddUser()">Inscription</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
