<div class="container">
  <h2>Edit profile</h2>

  <br /><br />

  <form #adduserform="ngForm" (ngSubmit)="updateUserformsubmit()">
    <div class="form-group">
      <label for="id">Firstname</label>
      <input type="text" class="form-control" required [(ngModel)]="user.firstname" name="firstname" />
    </div>
    <div class="form-group">
      <label for="id">Name</label>
      <input type="text" class="form-control" required [(ngModel)]="user.name" name="name" />
    </div>
    <div class="form-group">
      <label for="id">Email</label>
      <input type="email" class="form-control" required [(ngModel)]="user.email" name="email" />
    </div>
    <div class="form-group">
      <label for="id">Phone</label>
      <input type="tel" class="form-control" required [(ngModel)]="user.phone" name="phone" />
    </div>
    <div class="form-group">
      <label for="id">License</label>
      <input type="text" class="form-control" required [(ngModel)]="user.license" name="license" />
    </div>
    <div class="form-group">
      <label for="id">Password (please update password if you update the profile)</label>
      <input type="password" class="form-control" required [(ngModel)]="user.password" name="password" />
    </div>

    <button type="submit" class="btn btn-success">Update</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="goToHome()">Home page</button>&nbsp;&nbsp;
  </form>
</div>
