<div class="container">
  <h2>add new user</h2>

  <form #adduserform="ngForm" (ngSubmit)="addProductformsubmit()">
    {{user | json}}
    <div class="form-group">
      <label for="id">id:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.id" name="id" />
    </div>
    <div class="form-group">
      <label for="id">name:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.name" name="name" />
    </div>
    <div class="form-group">
      <label for="id">price:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.price" name="price" />
    </div>
    <div class="form-group">
      <label for="id">description:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.desc" name="description" />
    </div>

    <button type="submit" class="btn-success">Submit</button>
    <button type="button" class="btn-primary" (click)="gotolist()">BACK</button>
  </form>
</div>
