<div class="container">
  <h2>add new user</h2>

  <form #adduserform="ngForm" (ngSubmit)="addProductformsubmit()">
    <div class="form-group">
      <label for="id">id:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.id" name="id" />
    </div>
    <div class="form-group">
      <label for="id">name:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.name" name="name" />
    </div>
    <div class="form-group">
      <label for="id">price:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.price" name="price" />
    </div>
    <div class="form-group">
      <label for="id">description:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.desc" name="description" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="gotolist()">BACK</button>
  </form>

  <br /><br />

  <form #adduserform="ngForm" (ngSubmit)="addTestformsubmit()">
    <div class="form-group">
      <label for="id">name:</label>
      <input type="text" class="form-control" required [(ngModel)]="product.name" name="name" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="gotolist()">BACK</button>
  </form>
</div>
