<div class="container">
  <div *ngIf="isAdmin">
    <h2>Edit horse</h2>

    <br /><br />

    <form #adduserform="ngForm" (ngSubmit)="updateCourseformsubmit()">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" class="form-control" required [(ngModel)]="horse.id" name="id" disabled />
      </div>
      <div class="form-group">
        <label for="id">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="horse.name" name="name" />
      </div>

      <button type="submit" class="btn btn-success">Update</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="goBack()">Back to the list</button>&nbsp;&nbsp;
    </form>
  </div>

  <div *ngIf="!isAdmin">
    <p>You don't have access to this page.</p>
  </div>
</div>
